/* @settings

name: LineWidth adjustor
id: line-width-custom-id
settings:
    - 
        id: line-width
        title: Line width
        description: The maximum line width in rem units
        type: variable-number
        default: 42
        format: rem

*/

.markdown-source-view.mod-cm6 .cm-content,
.markdown-reading-view {
  max-width: line-width; /* Adjust this value */
  width: line-width;
  margin: 0 auto;
}